<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">

    <div class="small-8 medium-8 large-8 columns">     
      <div class="page_title">Edit Your Info</div>
      <!-- <%= resource_name.to_s.humanize %> -->

      <p class="edit-profile-text">You're in the right spot to update your profile, password and photo.</p>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="sign-up-label"><%= f.label :full_name %>
        <%= f.text_field :name, :autofocus => true %></div>

        <div class="sign-up-label"><%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %></div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="sign-up-label"><%= f.label :change_password %>
        <%= f.password_field :password, :autocomplete => "off" %></div>

        <div class="sign-up-label"><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>

        <div class="sign-up-label"><%= f.label :current_password %>
        <%= f.password_field :current_password %></div>
        
        <div><%= f.submit "Update", class: "button update-button" %></div>
      <% end %>

      <h3 class="lower_headers">Update your photo</h3>

      <%= form_for @player do |f| %>
        <tr>
          <th><%= f.label(:upload_profile_pic, "Upload your profile pic") %></th>
          <td><%= f.file_field(:picture_url) %></td>
        </tr>
<!--         <tr>
          <th><%= f.label(:upload_winning_pic1, "Upload Celebration Pic #1") %></th>
          <td><%= f.file_field(:winning_pic1) %></td>
        </tr>
        <tr>
          <th><%= f.label(:upload_winning_pic2, "Upload Celebration Pic #2") %></th>
          <td><%= f.file_field(:winning_pic2) %></td>
        </tr>
        <tr>
          <th><%= f.label(:upload_winning_pic3, "Upload Celebration Pic #3") %></th>
          <td><%= f.file_field(:winning_pic3) %></td>
        </tr>
        <tr>
          <th><%= f.label(:upload_losing_pic1, "Upload Losing Pic #1") %></th>
          <td><%= f.file_field(:losing_pic1) %></td>
        </tr>
        <tr>
          <th><%= f.label(:upload_losing_pic2, "Upload Losing Pic #2") %></th>
          <td><%= f.file_field(:losing_pic2) %></td>
        </tr>
        <tr>
          <th><%= f.label(:upload_losing_pic3, "Upload Losing Pic #3") %></th>
          <td><%= f.file_field(:losing_pic3) %></td>
        </tr> -->
        <div class="form-buttons">
          <%= f.submit "Update profile", class: "button update-button" %>
        </div>
      <% end %>

      <%= link_to "Back", :back %>
    </div>

</div>

    <%= render "layouts/footer" %>
