<div class="full-width-row">
  <div class="row">
    <div class="small-4 medium-6 large-4 small-centered columns">
      <h2>Sign up</h2>
      
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="sign-up-label"><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>
      
        <div class="sign-up-label"><%= f.label :password %><br />
        <%= f.password_field :password %></div>
      
        <div class="sign-up-label"><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>
      
        <div><%= f.submit "Sign up", class: "button" %></div>
      <% end %>
      <%= render "devise/shared/links" %>
      
    </div>
  </div>
</div>