<div class="reveal-modal medium myModal3" data-reveal>
  <h2>Log Your Game</h2>
      <div class="player_selection">
        <div class="row">
          <%= form_for @game do |f| %>
            <%= f.collection_select :player_id, Player.all, :id, :name, prompt: "Choose Player 1" %>
            <%= f.text_field :opponent_score %>
            <%= f.collection_select :opponent_id, Player.all, :id, :name, prompt: "Choose Player 2" %>
            <%= f.text_field :player_score %>
            <button class="log-a-game-button">Submit</button>
            <% end %>
          </div>
  <a class="close-reveal-modal">&#215;</a>
        </div>
      </div>
</div>