<div>
  <h1>Dashboard</h1>




<h2>Personal stats</h2>
  <p>Perhaps something like record in last 5 games, winning percentage and ranking</p>
  <p>Note: More extensive stats are on the profile page.</p>

<h2>Rankings - based on win %</h2> 
  <% Player.power_ranking.first(5).each do |player| %>
    <h4><%= ordinalize Player.power_ranking.find_index(player) + 1 %>  <%= player.name %> - <%= player.win_percentage %></h4>
  <% end %>




<h2>League Leaders - visual corresponding to each</h2>
  <p>King of the Hill</p>
  <p>Biggest Loser - lowest winning %</p>
  <p>Most Games Played </p>
  <p>Longest Win Streak</p>
  <p>Biggest Slaughter - both winner and loser? dunce cap for loser?</p>
  <p>Note: visual could be something like a crown on top of their profile pic.</p>

 <h2>Latest Games</h2>
 
   <% @games.last(5).reverse.each do |game| %>
    <h4><%= game.player.name %>
      <%= game.player_score %>
     vs.
     <%= game.opponent.name %>
     <%= game.opponent_score %>
   </h4>
  <% end %>

  <%= link_to 'See all the game results.', games_path %> 




  <p>Add default content / placeholder stuff for the case when the first user of a league arrives and no data exists yet.</p>

  <%= link_to 'Games Index', games_path %>

</div>