<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">
    <div class="large-7 columns dash-first-col  prof-name-wrap columns">
      <h1 class="profile-name">League MakerSquare</h1>
      <div class="the-border"></div>

      <!-- ******************* Last Game Table ****************** -->

      <div class="large-12 medium-6">
        <table class="dash-last-game" >
          <tr>
            <td>
               <% if @games.last.player_score < @games.last.opponent_score %>
              <h2 class="dash-last-game-title" ><%= @games.last.opponent.last_name %> wins!</h2>
              <% else %>
              <h2 class="dash-last-game-title"><%= @games.last.player.last_name %> wins!</h2>
              <% end %>
            </td>
            <td   class="mr-winner">
              Last Game
            </td>
            <td class="last-game-create-dash">
              <%= @games.last.created_at.strftime(" %a, %b %d, %Y") %>
            </td>
          </tr>
          <tr>
            <td class="dash-last-game-player-name">
              <% if @games.last.player_score > @games.last.opponent_score %>
                <%= link_to @games.last.player.last_name, @games.last.player  %>

              <% else %>
                <%= link_to @games.last.opponent.last_name, @games.last.opponent %>
              <% end %>
            </td>
            <td class="dash-vs">
              VS
            </td>
            <td class="dash-last-game-opponent-name">
              <% if @games.last.player_score < @games.last.opponent_score %>
                <%= link_to @games.last.player.last_name, @games.last.player %>
              <% else %>
                <%= link_to @games.last.opponent.last_name, @games.last.opponent %>
              <% end %>
            </td>
          </tr>
          <tr>
         <% if @games.last.player_score > @games.last.opponent_score %>
            <td class="dash-last-game-pic1">
            <%= link_to(image_tag(@player_win_picture, :alt => "profile pic", :title => "profile pic"), @games.last.player) %>
            </td>
            <% else %>
              <td class="dash-last-game-pic1">
                
                <%= link_to(image_tag(@opponent_win_picture, :alt => "profile pic", :title => "profile pic"), @games.last.opponent) %>
              </td>
            <% end %>
        
            <td class="dash-last-game-score">
              <% if @games.last.player_score > @games.last.opponent_score %>
                <%= @games.last.player_score %> - <%= @games.last.opponent_score %>
              <% else %>
                <%= @games.last.opponent_score %> - <%= @games.last.player_score %>
              <% end %>
            </td>
         <% if @games.last.player_score < @games.last.opponent_score %>
           <td class="dash-last-game-pic1">
               
              <%= link_to(image_tag(@player_lose_picture, :alt => "profile pic", :title => "profile pic"), @games.last.player) %>

           </td>
           <% else %>
           <td class="dash-last-game-pic1">
               
              <%= link_to(image_tag(@opponent_lose_picture, :alt => "profile pic", :title => "profile pic"), @games.last.opponent) %>
           </td>
             </tr>
             <% end %>
          </table>
      </div>
            <!-- ******************* Log Game Table ****************** -->
    </div>
    <div class="large-5 medium-6 small-11 left columns">
      <div class="log-game-form">
        <div class="log-game-title">Log Game<div class="blue-paddle"></div></div>
          <%= form_for @game do |f| %>
            <div class="choose-player"><%= f.collection_select :player_id, Player.all, :id, :name, prompt: "Choose Player 1" %></div>
             <div class="player-score-field" ><%= f.text_field :player_score %></div>
        <div class="choose-player"><%= f.collection_select :opponent_id, Player.all, :id, :name, prompt: "Choose Player 2" %></div>
        <div class="player-score-field" ><%= f.text_field :opponent_score %></div>
        
        <button class="log-a-game-button">Submit</button>
        <% end %>
      </div>
      <div class="or-style">- or -</div>
      <div class="small-centered">
        <%= link_to 'Live Score a Game', live_score_path, class: "button live-score-link"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-7 medium-7 prof-name-wrap title-holders-column columns">
      <table class="table-style">
        <tr>
          <td colspan="4" class = "title-holders-header">
            <h1 class="title-holders">Title Holders</h1>
          </td>
        </tr>


                    <!-- Title Holders Table Labels of Titles -->
        <tr>
          <td class="king-wrap">
            <div class="title-holder-title">
               King of the Hill
            </div>
          </td>
          <td class="king-wrap">
            <div class="title-holder-title">Biggest Loser</div>
          </td>
          <td class="king-wrap">
            <div class="title-holder-title">Longest Streak</div>
          </td>
          <td class="king-wrap">
            <div class="title-holder-title"> Worst Loss</div>
          </td>
        </tr>
<!-- Title Holders Table Pictures of Players -->
        <tr>
          <td class="king-wrap">
            <div>
              <%= link_to(image_tag(leaders.power_ranking.first.picture_url, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), leaders.power_ranking.first) %>
            </div>
            <!-- <span class="crown">♕</span> -->
          </td>
          <td class="king-wrap">
            <div>      
               <%= link_to(image_tag(biggest_loser.picture_url, :class => "title-holder-pics grow-rotate", :alt => "profile pic", :title => "profile pic"), biggest_loser) %>
               <!-- <span class="skull">☠</span> -->
            </div>
          </td>
          <td class="king-wrap">
            <div>              
              <%= link_to(image_tag(Player.order( 'win_streak DESC' ).first.picture_url, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), Player.order( 'win_streak DESC' ).first) %>
              <!-- <span class="up-arrow">⬆</span> -->
            </div>
          </td>
          <td class="king-wrap">
            <div>          
              <%= link_to(image_tag(worst_loss_display_pic, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), worst_loss_player) %>
              <!-- <i class="fa fa-thumbs-down"></i> -->
            </div>
          </td>
        </tr>
<!-- Title Holders Table Player Names -->
        <tr>
          <td class="king-wrap">
            <div class="king">
            <%= link_to leaders.power_ranking.first.last_name, leaders.power_ranking.first %></br>
            Win%: <%= leaders.power_ranking.first.win_percentage %>
            </div>

          </td>
          <td class="king-wrap">
            <div class="king">
              <%= link_to biggest_loser.last_name, biggest_loser %></br>
              Win%: <%= biggest_loser.win_percentage %>
            </div>
          </td>
          <td class="king-wrap">
            <div class="king">
              <%= link_to Player.order( 'win_streak DESC').first.last_name, Player.order( 'win_streak DESC' ).first %></br>
              <%= Player.order( 'win_streak DESC').first.win_streak %> wins
            </div>
          </td>
          <td class="king-wrap">
            <div class="king">
              <%= link_to worst_loss_player.last_name, worst_loss_player %></br>
               by <%= Game.worst_loss.first.point_margin.abs %>
            </div>
          </td>
        </tr>
      </table>

<!-- Latest Games Table -->
      <h1 class="title-holders">Latest Games</h1>
        <% @games.last(14).reverse.each do |game| %>
        <div class="small-12 large-6 columns last-games-column-wrapper">
          <table class="table-style left">
            <tr class="final-title-row">
              <td class='final-title-data'>
                <div class="prev-games-final-title"></div>
                <div class="prev-games-date"><%= link_to game.created_at.strftime("%a, %b %d %Y"), game %></div>
                <div class="total"></div>
              </td>
            </tr>
            <tr>
              <td class='prev-games-data-row'>   
                <%= link_to(image_tag(game.player.picture_url, :class => "prev-games-card-pic1", :alt => "profile pic", :title => "profile pic"), game.player) %>
                <div class="prev-games-card-name"
                  <%= "winner_style" if game.winner == game.player.id %>><%= link_to game.player.name, game.player %></div>
                <div class="record-prev-games">(<%= game.player.wins %>-<%= game.player.losses %>)</div>
                <div class="player-score-prev-games"><%= game.player_score %></div>
              </td>
            </tr>
            <tr>
              <td class='prev-games-data-row'>
                 <!-- <img class="prev-games-card-pic1" src=<%= game.opponent.picture_url %>>  -->
                <%= link_to(image_tag(game.opponent.picture_url, :class => "prev-games-card-pic1", :alt => "profile pic", :title => "profile pic"), game.opponent) %>
                <div class="prev-games-card-name">
                  <%= link_to game.opponent.name, game.opponent %>
                </div>
                <div class="record-prev-games">
                  (<%= game.opponent.wins %>-<%= game.opponent.losses %>)
                </div>
                <div class="player-score-prev-games">
                  <%= game.opponent_score %>
                </div>
              </td>
            </tr>
            <tr>
              <td class='prev-games-comment-row'>
  <!--               <h3 class="comment">
                  <%="#{game.player.last_name} pulls away late to down #{game.opponent.last_name}" %>
                </h3> -->
              </td>
            </tr>
          </table>
        </div>
        <% end %>
      </div>
      

<!-- Power Rankings -->
      <div class="large-5 grab-pic columns" >      
        <table class="rank-table">
          <tr class= "title-row">
            <td class="title-holders-header" colspan="6">
              <h1 class="title-holders">MakerSquare Rankings</h1>
            </td>
          </tr>
          <tr class="first-row">
            <td class='sub-title'>
              <div class="rk-title">RK</div>
            </td>
            <td class='sub-title'></td>
            <td class='sub-title'>
              Record
            </td>
            <td class='sub-title'>
              <div class="pct-title">PCT</div>
            </td>           
          </tr>
          <% leaders.power_ranking.first(20).each do |player| %>
          <tr class="dash-ranking-rollover">
            <td>
              <h3 class="ranking-items">
                <%= ordinalize leaders.power_ranking.find_index(player) + 1 %>
              </h3>
           </td>
            <td>
               <h4 class="rank-player-name"><%= link_to (image_tag(player.picture_url)), player %><%= link_to player.last_name, player %></h4>
            </td>
            <td>
              <h4 class="rank-record"><%= player.wins %>-<%= player.losses %></h4>
            </td> 
            <td>
              <h4 class="rank-pct"><%= player.win_percentage %></h4>
            </td> 
          </tr>
          <% end %>
          
        </table>
        <div class="ranking-disclaimer">* Based on win% of players with 5+ games</div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
