<div>
  <h1>Dashboard</h1>



<div class="row">

  <div class="section-titles">League Rankings</div> 
    <% Player.power_ranking.first(5).each do |player| %>
      <h4><%= ordinalize Player.power_ranking.find_index(player) + 1 %>  <%= player.name %> - <%= player.win_percentage %></h4>
    <% end %>
</div>



<div class="row">
  <div class="section-titles">League Leaders</div>
  <div class="small-3 medium-3 large-3 columns grab-pic title-pic">
    <div class="title-text">King of the Hill</div>
    <img src=<%= Player.power_ranking.first.picture_url %>>
    <div class="title-holder"><%= Player.power_ranking.first.name %></div class="title-holder">
  </div>
  <div class="small-3 medium-3 large-3 columns grab-pic title-pic">
    <div class="title-text">Biggest Loser</div>
    <img src=<%= Player.power_ranking.last.picture_url %>> 
    <div class="title-holder"><%= Player.power_ranking.last.name %></div class="title-holder">
  </div>
  <div class="small-3 medium-3 large-3 columns grab-pic title-pic">
    <div class="title-text">Longest Win Streak</div>
    <img src=<%= Player.power_ranking.first.picture_url %>>
    <div class="title-holder"><%= Player.power_ranking.first.name %></div class="title-holder">
  </div>
  <div class="small-3 medium-3 large-3 columns grab-pic title-pic">
    <div class="title-text">Biggest Slaughter</div> 
    <img src=<%= Player.power_ranking.first.picture_url %>>
    <div class="title-holder"><%= Player.power_ranking.first.name %></div class="title-holder">
  </div>
</div>
<div class="row">
     <div class="section-titles">Latest Games</div>
     
       <% @games.last(5).reverse.each do |game| %>
        <h4><%= game.player.name %>
          <%= game.player_score %>
         vs.
         <%= game.opponent.name %>
         <%= game.opponent_score %>
       </h4>
      <% end %>
    </div>
  </div>
</div>


<div class="bottom-links">
  <%= link_to 'Games Index', games_path %>
</div>