<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">
    <div class="small-12  prof-name-wrap columns">
 <button class="log-a-game-button">Log Game</button>
      <h1 class="profile-name">League MakerSquare</h1>
     
      <div class="the-border"></div>

    </div>
  </div>
  
  <div class="row">
    <div class="small-8  prof-name-wrap title-holders-column columns">
<!--       <table>
      <tr>
        <td class="title-holder-data">
          <div class="title-holders">Title Holders</div>
        </td>
      </tr>=
      </table> -->
      

    <table class="table-style">
      <tr>
        <td colspan="4" class = "title-holders-header">
        <h1 class="title-holders">Title Holders</h1>
        </td>
      </tr>


      <tr>
        
        <td class="king-wrap">
          <div class="title-holder-title"><span class="crown">♕</span> King of the Hill</div>
        </td>
        <td class="king-wrap">
          <div class="title-holder-title">
          <span class="skull">☠</span> Biggest Loser
        </td>
        <td class="king-wrap">
          <div class="title-holder-title">
          <span class="up-arrow">⬆</span> Longest Streak
        </td>
        <td class="king-wrap">
          <div class="title-holder-title">
         <i class="fa fa-thumbs-down"></i> Worst Loss
        </div>
        </td>
      </tr>
      <tr>
        <td class="king-wrap">
            <div>
              
              <%= link_to(image_tag(Player.power_ranking.first.picture_url, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), Player.power_ranking.first) %>
            </div>
          </div>
        </td>
        <td class="king-wrap">
          <div>      
             <%= link_to(image_tag(Player.power_ranking.last.picture_url, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), Player.power_ranking.last) %>
          </div>
        </td>
        <td class="king-wrap">
          <div>
            
            <%= link_to(image_tag(Player.win_streak_sorting.first.picture_url, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), Player.win_streak_sorting.first) %>
          </div>
        </td>
        <td class="king-wrap">
          <div>          
            <img class="title-holder-pics" src=<%= worst_loss_display_pic %>>
          </div>
        </td>
      </tr>
      <tr>
        <td class="king-wrap">
          <div class="king">
          <%= link_to Player.power_ranking.first.name, Player.power_ranking.first %>
          </div class="title-holder">
        </td>
        <td class="king-wrap">
          <div class="king"><%= link_to Player.power_ranking.last.name, Player.power_ranking.last %></div>
        </td>
        <td class="king-wrap">
          <div class="king">
            <%= link_to Player.win_streak_sorting.first.name, Player.win_streak_sorting.first %>
          </div>
        </td>
        <td class="king-wrap">
          <div class="king">
            <%= worst_loss_display %>
        </div>
        </td>
      </tr>
      <tr>
      </table>
    </div>
    <div class="small-4  prof-name-wrap title-holders-column columns">
      <!-- <table>
        <tr>
          <td class="title-holder-data">
            <div class="title-holders">League Leaders</div>
          </td>
        </tr>
      </table> -->
      <table class="table-style"> 
      <tr>
        <td colspan="3" class = "title-holders-header">
        <h1 class="title-holders">League Leaders</h1>
        </td>
      </tr>    
        <tr>
          <td class="king-wrap">
            <div class="title-holder-title">
              Rank
            </div>
          </td>
          <td class="king-wrap">
          <div class="title-holder-title">
            Name
          </div>
          </td>
          <td class="king-wrap">
          <div class="title-holder-title">
            %
          </div>
          </td>
        </tr>  
              <% Player.power_ranking.first(5).each do |player| %>
          <tr>
            <td>
              <div class="king">
                <%= Player.power_ranking.find_index(player) + 1 %>
              </div>
            </td>
            <td>
              <div class="league-leader-stats">
                <%= link_to player.name, player %></td>
              </div>
            <td>
              <div class="league-leader-percent">
                <%= player.win_percentage %>
              </div>
            </td>
          </tr>

        <% end %>
      </table>

    </div>
    
    <div class="row">
      <div class="small-12  prof-name-wrap columns">
      <h1 class="title-holders">Latest Results</h1>
          <% @games.last(9).reverse.each do |game| %>
        <div class="small-4 columns last-games-column-wrapper">
          <table class="table-style">
            <tr class="final-title-row">
              <td class='final-title-data'>
                <div class="prev-games-final-title"></div>
                <div class="prev-games-date"><%= game.created_at.strftime("%I:%M%p - %a, %b %Y") %></div>
                <div class="total"></div>
              </td>
            </tr>
            <tr>
              <td class='prev-games-data-row'>   
                <%= link_to(image_tag(game.player.picture_url, :class => "prev-games-card-pic1", :alt => "profile pic", :title => "profile pic"), game.player) %>
                 <div class="prev-games-card-name"
                    <%= "winner_style" if game.winner == game.player.id %>"><%= link_to game.player.name, game.player %></div>
                 <div class="record-prev-games">(<%= game.player.wins %>-<%= game.player.losses %>)</div>
                 <div class="player-score-prev-games"><%= game.player_score %></div>
              </td>
            </tr>
            <tr>
              <td class='prev-games-data-row'>
                 <!-- <img class="prev-games-card-pic1" src=<%= game.opponent.picture_url %>>  -->
                <%= link_to(image_tag(game.opponent.picture_url, :class => "prev-games-card-pic1", :alt => "profile pic", :title => "profile pic"), game.opponent) %>
                  <div class="prev-games-card-name">
                    <%= link_to game.opponent.name, game.opponent %>
                  </div>
                  <div class="record-prev-games">
                    (<%= game.opponent.wins %>-<%= game.player.losses %>)
                  </div>
                  <div class="player-score-prev-games">
                    <%= game.opponent_score %>
                  </div>
              </td>
            </tr>
            <tr>
              <td class='prev-games-comment-row'>
                <h3 class="comment"><%="#{game.player.last_name} pulls away late to down #{game.opponent.last_name}" %> </h3>
              </td>
            </tr>
            </table>
      



          </div>
          <% end %>
    </div>
  </div>
</div>
</div>
  <%= render "layouts/footer" %>
