<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">
    <div class="small-12 dash-first-col  prof-name-wrap columns">
<!--   -->
      <h1 class="profile-name">League MakerSquare</h1>
     
      <div class="the-border"></div>
      <%= form_for @game do |f| %>
       
        <div class="choose-player-1"><%= f.collection_select :player_id, Player.all, :id, :name, prompt: "Choose Player 1" %></div>
        <div class="choose-player-2"><%= f.collection_select :opponent_id, Player.all, :id, :name, prompt: "Choose Player 2" %></div>
      <% end %>
    </div>
<div class="row">
  <div class="small-5 dash-second-col  small-offset-7 columns">
    <%= form_for @game do |f| %>
     <div class="player1-score-field" ><%= f.text_field :player_score %></div> 
     <div class="player2-score-field" ><%= f.text_field :opponent_score %></div> 
     <button class="log-a-game-button">Log a Game</button>
    <% end %>

  </div>
  
</div>
  <!-- <div class="row">
    <div class="small-12 columns">   
      <div class="small-2 columns">
        <h1>Log a Game</h1>
      </div>
     <div class="small-2 columns">
      <%= form_for @game do |f| %>
       
        <%= f.collection_select :player_id, Player.all, :id, :name, prompt: "Choose Player 1" %>
     </div>
     <div class="small-2 columns">
        <%= f.collection_select :opponent_id, Player.all, :id, :name, prompt: "Choose Player 2" %>
     </div>
        
        <%= f.text_field :player_score %><br />

        <%= f.text_field :opponent_score %><br />

        <%= f.submit %>

      <% end %> 
    </div>
    </div> -->
      
  <div class="row">
    <div class="small-7  prof-name-wrap title-holders-column columns">
      <table class="table-style">
        <tr>
          <td colspan="4" class = "title-holders-header">
          <h1 class="title-holders">Title Holders</h1>
          </td>
        </tr>
        <!-- Title Holders Table Labels of Titles -->
        <tr>
          <td class="king-wrap">
            <span class="crown">♕</span>
            <div class="title-holder-title">
               King of the Hill</div>
          </td>
          <td class="king-wrap">
            <span class="skull">☠</span>
            <div class="title-holder-title">Biggest Loser</div>
          </td>
          <td class="king-wrap">
            <span class="up-arrow">⬆</span>
            <div class="title-holder-title">Longest Streak</div>
          </td>
          <td class="king-wrap">
            <i class="fa fa-thumbs-down"></i>
            <div class="title-holder-title"> Worst Loss</div>
          </td>
        </tr>
        <!-- Title Holders Table Pictures of Players -->
        <tr>
          <td class="king-wrap">
            <div>
              <%= link_to(image_tag(Player.power_ranking.first.picture_url, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), Player.power_ranking.first) %>
            </div>
          </td>
          <td class="king-wrap">
            <div>      
               <%= link_to(image_tag(Player.order( 'losses DESC' ).first.picture_url, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), Player.order( 'losses DESC' ).first) %>
            </div>
          </td>
          <td class="king-wrap">
            <div>              
              <%= link_to(image_tag(Player.order( 'win_streak DESC' ).first.picture_url, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), Player.order( 'win_streak DESC' ).first) %>
            </div>
          </td>
          <td class="king-wrap">
            <div>          
              <%= link_to(image_tag(worst_loss_display_pic, :class => "title-holder-pics", :alt => "profile pic", :title => "profile pic"), Game.worst_loss.first) %>
            </div>
          </td>
        </tr>

        
        <!-- Title Holders Table Player Names -->
        <tr>
          <td class="king-wrap">
            <div class="king">
            <%= link_to Player.power_ranking.first.last_name, Player.power_ranking.first %> - <%= Player.power_ranking.first.win_percentage %>
            </div>
          </td>
          <td class="king-wrap">
            <div class="king">
              <%= link_to Player.order( 'losses DESC' ).first.last_name, Player.order( 'losses DESC' ).first %> - <%= Player.order( 'losses DESC' ).first.losses %> Tot. losses
            </div>
          </td>
          <td class="king-wrap">
            <div class="king">
              <%= link_to Player.order( 'win_streak DESC').first.last_name, Player.order( 'win_streak DESC' ).first %> - <%= Player.order( 'win_streak DESC').first.win_streak %> wins
            </div>
          </td>
          <td class="king-wrap">
            <div class="king">
              <%= worst_loss_display %>
          </div>
          </td>
        </tr>
        <tr>
      </table>


    <h1 class="title-holders">Latest Results</h1>
              <% @games.last(9).reverse.each do |game| %>
            <div class="small-4 columns last-games-column-wrapper">
              <table class="table-style">
                <tr class="final-title-row">
                  <td class='final-title-data'>
                    <div class="prev-games-final-title"></div>
                    <div class="prev-games-date"><%= game.created_at.strftime("%a, %b %d %Y") %></div>
                    <div class="total"></div>
                  </td>
                </tr>
                <tr>
                  <td class='prev-games-data-row'>   
                    <%= link_to(image_tag(game.player.picture_url, :class => "prev-games-card-pic1", :alt => "profile pic", :title => "profile pic"), game.player) %>
                     <div class="prev-games-card-name"
                        <%= "winner_style" if game.winner == game.player.id %>><%= link_to game.player.name, game.player %></div>
                     <div class="record-prev-games">(<%= game.player.wins %>-<%= game.player.losses %>)</div>
                     <div class="player-score-prev-games"><%= game.player_score %></div>
                  </td>
                </tr>
                <tr>
                  <td class='prev-games-data-row'>
                     <!-- <img class="prev-games-card-pic1" src=<%= game.opponent.picture_url %>>  -->
                    <%= link_to(image_tag(game.opponent.picture_url, :class => "prev-games-card-pic1", :alt => "profile pic", :title => "profile pic"), game.opponent) %>
                      <div class="prev-games-card-name">
                        <%= link_to game.opponent.name, game.opponent %>
                      </div>
                      <div class="record-prev-games">
                        (<%= game.opponent.wins %>-<%= game.player.losses %>)
                      </div>
                      <div class="player-score-prev-games">
                        <%= game.opponent_score %>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td class='prev-games-comment-row'>
                    <h3 class="comment"><%="#{game.player.last_name} pulls away late to down #{game.opponent.last_name}" %> </h3>
                  </td>
                </tr>
                </table>
          




              </div>
              <% end %>
        </div>


          <div class="small-5  grab-pic columns" >      
          <table class="rank-table">
            
            <tr class= "title-row">
              <td class="title-holders-header" colspan="6">
                <h1 class="title-holders">MakerSquare Players </h1>

              </td>
            </tr>
                <tr class="first-row">
              <td class='sub-title'>
                <div class="rk-title">RK</div>
              </td>

              <td class='sub-title'>
                

              </td>
              <td class='sub-title'>
                Record
              </td>
              <td class='sub-title'>
                <div class="pct-title">PCT</div>
              </td>
              
            </tr>
            <% Player.power_ranking.each do |player| %>
                <tr>
              <td>
                <h3 class="ranking-items">
                  <%= ordinalize Player.power_ranking.find_index(player) + 1 %>
                </h3>
             </td>
              <td>
                 <h4 class="rank-player-name"><%= link_to (image_tag(player.picture_url)), player %><%= link_to player.last_name, player %></h4>
              </td>
              <td>
                <h4 class="rank-record"><%= player.wins %>-<%= player.losses %></h4>
              </td> 
              <td>
                <h4 class="rank-pct"><%= player.win_percentage %></h4>
              </td> 
              
            </tr>
            
              <% end %>
              </table>
        </div>
      </div>





    </div>
        </div>
        

    



  <%= render "layouts/footer" %>
