<div class= "sign-in-bg ">
  <%= render "layouts/header" %>
    <div class="row">
      <div class="small-6 medium-6 large-6 columns hide-for-small-only">
        <div class="homelargeheading hide-for-small-only">
          Passionate about Ping Pong?
        </div>
        <div class="hide-for-small-only">
          <p class="homeparagraph hide-for-small-only">
            Track your scores and see how you stack up against the competition. Careful. It gets pretty intense.
          </p> 
        </div>
      </div>
      <div class="small-5 medium-5 large-5 columns signup-box hide-for-small-only">
        <div class="home-new-acct hide-for-small-only">Ready to play? <br>Create a free account.</div>
        <div class="error_explanation hide-for-small-only" >
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
        </div>
        <div class="sign-up-label hide-for-small-only">
          <%= f.text_field :name, :autofocus => true, :placeholder => "Full Name" %>
        </div>
        <div class="sign-up-label hide-for-small-only">
          <%= f.email_field :email, :placeholder => "Email", :autocomplete => :off %>
        </div>
        <div class="sign-up-label hide-for-small-only">
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>
        <div class="sign-up-label hide-for-small-only">
          <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
        </div>
        <div class="sign-up-button-contain hide-for-small-only">
          <%= f.submit "Sign up for MakerPong", class: "sign-up-button" %>
        </div>
        <% end %>
      </div>
    </div>

</div>

 <%= render "layouts/footer" %>



  




