<div class="page-wrapping">
  <div class="row">

    <div class="small-8 large-8 columns welcome_card_style for-margin">

      <div class="row">
        <div class="small-6 large-6 columns">
          <h1 class="homelargeheading">Passionate about Ping Pong?</h1>
          <p class="homeparagraph">Track scores and see how you stack up against the competition with our free web app. Careful. It gets pretty intense.</p>
        </div>
        <div class="small-1 large-1 columns">
        </div>
        <div class="small-5 large-5 columns">
          <img src="../assets/dashboard.png" width="350px">
        </div>

      </div>

    </div>


    <div class="small-4 large-4 columns welcome_card_style for-margin">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="sign-up-label">
        <!-- # <%= f.label :full_name %><br /> -->
        <%= f.text_field :name, :autofocus => true, :placeholder => "Full Name" %></div>

        <div class="sign-up-label">
          <!-- # <%= f.label :email %><br />  -->
          <%= f.email_field :email, :placeholder => "Email" %></div>

          <div class="sign-up-label">
            <!-- # <%= f.label :password %><br /> -->
            <%= f.password_field :password, :placeholder => "Password" %></div>

            <div class="sign-up-label">
              <!-- # <%= f.label :password_confirmation %><br /> -->
              <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %></div>

              <div class="sign-up-label">
                <%= f.submit "Sign up for MakerPong", class: "button sign-up-button" %></div>
                <% end %>

              </div>
            </div>
          </div>



