<div class="ranking-wrapping">
  <%= render "layouts/header" %> 
    <div class="row">
<!-- ****************** New Game Button ************* -->
      <!-- <div class="row">
        <div class="form-wrap">
          <div id="show-form">
            <%#= render 'form' %>
          </div>
        </div>
      </div>
      <button class='new-game-button' name="submit" id="submit" type="submit">Log a Game</button> -->
<!-- ****************** New Game Button ************* -->

      <div class="small-12 medium-12 large-12 columns">
        <div>
          <h3 class= "profile-name">
            Game History
          </h3>        
        </div>
        <% @games.each do |game| %>
        <div class="small-6 medium-6 large-6 columns left card_column">
          <div class="recent_game dash_card_style">
            <div class="date_row">
              <%= game.created_at.strftime("%I:%M%p - %a, %b %Y") %>
            </div>
            <div class="row player_row">
              <div class="game_card_pic small-2 medium-2 large-2 columns card_pic">
                <img src=<%= game.player.picture_url %>> 
              </div>
              <div class="game_card_player_name small-8 medium-8 large-8 columns <%= "winner_style" if game.winner == game.player.id %>">
                <%= game.player.name %>
              </div>
              <div class="game_card_score small-2 medium-2 large-2 columns <%= "winner_style" if game.winner == game.player.id %>">
                <%= game.player_score %>
              </div>
            </div>
            <div class="row opponent_row">
              <div class="game_card_pic small-2 medium-2 large-2 columns card_pic">
                <img src=<%= game.opponent.picture_url %>>
              </div>
              <div class="game_card_name small-8 medium-8 large-8 columns <%= "winner_style" if game.winner == game.opponent.id %>">
                <%= game.opponent.name %>
              </div>
              <div class="game_card_score small-2 medium-2 large-2 columns <%= "winner_style" if game.winner == game.opponent.id %>">
                <%= game.opponent_score %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

</div>


<%= link_to 'New Game', new_game_path %>

<%= render "layouts/footer" %>
