  <h1>League Games</h1>

  <% @games.each do |game| %>
    
    <h4><%= game.player.name %>
    	<%= game.player_score %>
     vs. 
     <%= game.opponent.name %>
		 <%= game.opponent_score %>
   </h4><br>
  <% end %>


<%= link_to 'New Game', new_game_path %>