
<div class="ranking-wrapping after-pong-pic">

	<% if player_signed_in? %>
	  <div class="row">
	      <div class="small-2 columns">
	        <h1 class="title">
	          <%= link_to 'MakerPong', welcome_dashboard_path %>
	        </h1>
	      </div>
	    <div class= "small-8 columns">
	      <h1 class="top-right-links weird-link">
	        <%= link_to 'Power Rankings', players_path %>
	      </h1>
	      <h1 class="top-right-links">
	        <%= link_to 'New Game', new_game_path %>
	      </h1>
	      <h1 class="top-right-links">
	        <%= link_to 'Profile', player_url(current_player) %>
	      </h1>
	      <h1 class="top-right-links">
	        <%= link_to 'Edit Settings', edit_player_registration_path %>
	      </h1>
	      <h1 class="top-right-links">
	        <%= link_to 'Sign out', destroy_player_session_path, method: :delete %>
	      </h1>
	    </div>
	  </div>
	<% else %>  
	  <div class="row">
	      <div class="small-2 columns">
	        <h1 class="title">
	          <%= link_to 'MakerPong', root_url %>
	        </h1>
	      </div>
	      <div class="small-3 small-offset-6 columns">
	            <h1 class="top-right-links">
	              <%= link_to "Sign in", new_player_session_path %>
	            </h1>
	      </div>
	  </div>
	<% end %>


<!-- a;lkdfjasdlfkjasd;f -->


<div class="row">
 <div class="small-12 small-centered columns after-game-column">
  <div class="recent_game after-game-card_style">
    <div class="date_row">
      <%= @game.created_at.strftime("%I:%M%p - %a, %b %Y") %>
    </div>
    <div class="row" id="player_row">
      <div class="game_card_pic small-2 medium-2 large-2 columns after-game-card_pic">
        <img src=<%= @game.player.picture_url %>>
      </div>
      <div class="after-game_card_name small-8 medium-8 large-8 columns">
        <%= @game.player.name %>
        <div class="after-game_card_score small-2 medium-2 large-2 columns">
          <%= @game.player_score %>
        </div>
      </div>
  
    </div>
    <div class="row" id="opponent_row">
      <div class="game_card_pic small-2 medium-2 large-2 columns after-game-card_pic">
        <img class="after-game-card_pic" src=<%= @game.opponent.picture_url %>>
      </div>
      <div class="after-game_card_name small-8 medium-8 large-8 columns">
        <%= @game.opponent.name %>
        <div class="after-game_card_score small-2 medium-2 large-2 columns">
          <%= @game.opponent_score %>
        </div>
      </div>
    
    </div>
  </div>
</div>
</div>





<!-- a;sdfja;sdlfjk -->








