<div class="ranking-wrapping">
  <%= render "layouts/header" %>
<!-- a;lkdfjasdlfkjasd;f -->

  <div class="row">
	  <div class="small-5  prof-name-wrap columns">
    <h1 class="game-show-name show-player-name"><%= @game.player.name %> </h1>
          <div class="the-border-after-game"></div>
    <!-- <h1 class="vs-after-game">VS</h1> -->
  </div>
  <div class="small-2 prof-name-wrap columns">
     <h1 class="vs-after-game">vs</h1>
  </div>
  <div class="row">
  	<div class="small-5  prof-name-wrap columns">
      <h1 class="game-show-name show-opponent-name"><%= @game.opponent.name %> </h1>
  		<div class="the-border-after-game"></div>
  	</div>
  </div>
  </div>

<div class="row new-game">
  <div class="small-4 small-offset-4  prof-name-wrap columns">
  <% if @game.player_score > @game.opponent_score %>
  	<h2 class="who-won"><%= @game.player.last_name %> wins!</h2>
  	<% else %>
  	<h2 class="who-won"><%= @game.opponent.last_name %> wins!</h2>
  	<% end %>
  	<div class="form-wrap">
  		<div id="show-form">
  	    <%= render 'form' %>
  	  </div>
  	 </div>
  </div>
  <div class="small-3 small-offset-1 prof-name-wrap new-game-button-column columns">
    <button class='new-game-button' name="submit" id="submit" type="submit">Edit Game</button>
</div>
</div>

<div class="row">
	<div class="small-12  prof-name-wrap main-after-game-column-wrap columns">
		<table>
			<tr class="first-row-after-game">
				<td class="first-data-after-game">
					<h2 class="date-after-game"><%= @game.created_at.strftime(" %a, %b %Y \n %I:%M%p") %></h2>
				</td>
			</tr>
			<tr class="second-row-after-game"> 
				<td class="second-data-after-game">
					<img class="hello" src=<%= @game.player.picture_url %>>
					<h2 class="name1-after-game"><%= @game.player.name %></h2>
					<h2 class="record1-after-game">(<%= @game.player.wins %>-<%= @game.player.losses %>)</h2>
					<h1 class="playerscore1-after-game"><%= @game.player_score %></h1>
				</td>
			</tr>
			<tr class="third-row-after-game">
				<td class="third-data-after-game">
					<img class="hello" src=<%= @game.opponent.picture_url %>>
					<h2 class="name1-after-game"><%= @game.opponent.name %></h2>
					<h2 class="record1-after-game">(<%= @game.opponent.wins %>-<%= @game.opponent.losses %>)</h2>
					<h1 class="playerscore1-after-game"><%= @game.opponent_score %></h1>

				</td>
			</tr>
			<!-- <tr class="fourth-row-after-game">
				<td class="fourth-data-after-game">
				  <h3 class="comment-after-game">
				  	<% if @game.player_score > @game.opponent_score %>
				  	<%= @game.player.last_name%>'s
						<% else %>
						<%= @game.opponent.last_name%>'s
						<% end %>
				  	 backhand overpowering,
				  	 <% if @game.player_score < @game.opponent_score %>
				  	 <%= @game.player.last_name%>
				  	 <% else %>
						<%= @game.opponent.last_name%>'s
						<% end %>
				   continues downward spiral</h3>
			  </td>
			</tr> -->
		</table>
	</div>
</div>
  </div>

  <%= render "layouts/footer" %>








