
<div class="log-new-game">Log New Game</div>
<%= form_for @games do |f| %>
   <span><a href="#close" id="close">&#215;</a>
  <%= f.collection_select :player_id, Player.all, :id, :name, prompt: "Choose Player 1" %>

  <%= f.collection_select :opponent_id, Player.all, :id, :name, prompt: "Choose Player 2" %>

  <%= f.label :player_one_score %>
  <%= f.text_field :player_score %><br />

  <%= f.label :player_two_score %>
  <%= f.text_field :opponent_score %><br />

  <%= f.submit %>

<% end %>

<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>