<%= form_for @player do |f| %>
  <tr>
  	<th><%= f.label(:upload_profile_pic, "Upload Main Profile Pic") %></th>
  	<td><%= f.file_field(:picture_url) %></td>
  </tr>
  <tr>
  	<th><%= f.label(:upload_winning_pic1, "Upload Celebration Pic #1") %></th>
  	<td><%= f.file_field(:winning_pic1) %></td>
  </tr>
  <tr>
  	<th><%= f.label(:upload_winning_pic2, "Upload Celebration Pic #2") %></th>
  	<td><%= f.file_field(:winning_pic2) %></td>
  </tr>
  <tr>
    <th><%= f.label(:upload_winning_pic3, "Upload Celebration Pic #3") %></th>
    <td><%= f.file_field(:winning_pic3) %></td>
  </tr>
  <tr>
  	<th><%= f.label(:upload_losing_pic1, "Upload Losing Pic #1") %></th>
  	<td><%= f.file_field(:losing_pic1) %></td>
  </tr>
  <tr>
  	<th><%= f.label(:upload_losing_pic2, "Upload Losing Pic #2") %></th>
  	<td><%= f.file_field(:losing_pic2) %></td>
  </tr>
  <tr>
    <th><%= f.label(:upload_losing_pic3, "Upload Losing Pic #3") %></th>
    <td><%= f.file_field(:losing_pic3) %></td>
  </tr>
  <div class="form-buttons">
  	<%= submit_tag("Update profile") %>
  </div>
<% end %>