




<div class="ranking-wrapping">


  <div class="row">
    <div class="small-8 grab-pic columns" >
      
    <table class="rank-table">
      <tr class= "card_style-two">
        <td colspan="6">
        <h1 class = "ranking-title" >
          2014 MakerSquare Ping Pong Rankings</h1>
        </td>
      </tr>
      <tr class= "title-row">
        <td class="title-data" colspan="6">
          <h1 class="maker-ranking-title">Maker Top 25</h1>
        </td>
      </tr>
          <tr class="first-row">
        <td class='sub-title'>
          <div class="rk-title">RK</div>
        </td>
        <td class='sub-title'>
          Name
        </td>
        <td class='sub-title'>
          Record
        </td>
        <td class='sub-title'>
          <div class="pct-title">PCT</div>
        </td>
        <td class='sub-title'>
          PREV
        </td>
        <td class='sub-title'>
          Trending
        </td>
      </tr>
      <% Player.power_ranking.each do |player| %>
          <tr>
        <td>
          <h3 class="ranking-items">
            <%= ordinalize Player.power_ranking.find_index(player) + 1 %>
          </h3>
       </td>
        <td>
          <h4 class="rank-player-name"><img src=<%= player.picture_url %>><%= link_to player.name, player %></h4>
        </td>
        <td>
          <h4 class="rank-record"><%= player.wins %>-<%= player.losses %></h4>
        </td> 
        <td>
          <h4 class="rank-pct"><%= player.win_percentage %></h4>
        </td> 
        <td>
          <span><%=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25].sample %></span>
        </td>
        <td>
          <span class="arrow">▲</span><%=[1,2,3,4,5,6].sample %>
        </td>
      </tr>
      
      
        
        <% end %>
        </table>
  </div>
  </div>
 </div>
      
 
        

   




