<div class="ranking-wrapping">
  <% if player_signed_in? %>
  <div class="row ">
    <div class="small-2 nav-rowing columns">
      <h1 class="title">
        <%= link_to 'MakerPong', welcome_dashboard_path %>
      </h1>
    </div>
    <div class= "small-8 columns">
      <h1 class="top-right-links weird-link">
        <%= link_to 'Power Rankings', players_path %>
      </h1>
      <h1 class="top-right-links">
        <%= link_to 'New Game', new_game_path %>
      </h1>
      <h1 class="top-right-links">
        <%= link_to 'Profile', player_url(current_player) %>
      </h1>
      <h1 class="top-right-links">
        <%= link_to 'Edit Settings', edit_player_registration_path %>
      </h1>
      <h1 class="top-right-links">
        <%= link_to 'Sign out', destroy_player_session_path, method: :delete %>
      </h1>
    </div>
  </div>
  <% else %>  
  <div class="row">
    <div class="small-2 columns">
      <h1 class="title">
        <%= link_to 'MakerPong', root_url %>
      </h1>
    </div>
    <div class="small-3 small-offset-6 columns">
      <h1 class="top-right-links">
        <%= link_to "Sign in", new_player_session_path %>
      </h1>
    </div>
  </div>
  <% end %>


<!-- ************* end of nav bar****************** -->







  <div class="row">
    <div class="small-8 grab-pic columns" >
      
    <table class="rank-table">
      <tr class= "card_style-two">
        <td colspan="6">
        <h1 class = "ranking-title" >
          2014 MakerSquare Ping Pong Rankings</h1>
        </td>
      </tr>
      <tr class= "title-row">
        <td class="title-data" colspan="6">
          <h1 class="maker-ranking-title">Maker Top 25</h1>
        </td>
      </tr>
          <tr class="first-row">
        <td class='sub-title'>
          <div class="rk-title">RK</div>
        </td>
        <td class='sub-title'>
          Name
        </td>
        <td class='sub-title'>
          Record
        </td>
        <td class='sub-title'>
          <div class="pct-title">PCT</div>
        </td>
        <td class='sub-title'>
          PREV
        </td>
        <td class='sub-title'>
          Trending
        </td>
      </tr>
      <% Player.power_ranking.each do |player| %>
          <tr>
        <td>
          <h3 class="ranking-items">
            <%= ordinalize Player.power_ranking.find_index(player) + 1 %>
          </h3>
       </td>
        <td>
          <h4 class="rank-player-name"><img src=<%= player.picture_url %>><%= link_to player.name, player %></h4>
        </td>
        <td>
          <h4 class="rank-record"><%= player.wins %>-<%= player.losses %></h4>
        </td> 
        <td>
          <h4 class="rank-pct"><%= player.win_percentage %></h4>
        </td> 
        <td>
          <span><%=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25].sample %></span>
        </td>
        <td>
          <span class="arrow">▲</span><%=[1,2,3,4,5,6].sample %>
        </td>
      </tr>
      
      
        
        <% end %>
        </table>
  </div>
  </div>
 </div>
      
 
        

   




