<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">  
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    <div class="row">
      <div class="small-5  prof-name-wrap columns">
        <h1 class="profile-name"><%= @player.name %></h1>
        <div class="the-border"></div>
        <!-- <h2 class="profile-record"><span><%= @player.wins %><span>-<span><%= @player.losses %></span>, <span><%=  ordinalize @rank %></span> in League</h2> -->
      </div>
    </div>
    <% if @player.picture_url.present? == false && @player == current_player %>
        <div class="upload-pic">
          <%= link_to 'Upload Profile Pic', edit_player_registration_path, class: "upload-pic-button" %>
        </div>
    <% end %>
 <!-- Top Profile Overview -->
  <div class="row">
    <div class="small-12 prof-name-wrap columns">
      <table class="table-style-profile">
        <tr>
          <td rowspan="4">
            <%= image_tag @player.picture_url%>  

          </td>
          
          <td colspan="2" class="profile-rank-small-header profile-rank-table-right">
            Rank
          </td>
        </tr>
        <tr>
          <td colspan= "2" class="ordinalize-profile-rank">
            <%= rank_check(@player) %>
          </td>
        </tr>
        <tr>
          <td class="profile-rank-small-header">
            Record
          </td>
          <td class="profile-rank-small-header">
            Win %
          </td>
        </tr>
        <tr>
          <td class="profile-top-chart">
            <%= @player.wins %>-<%= @player.losses %>
          </td>
          <td class="profile-top-chart">
            <%= @player.win_percentage %>
          </td>
        </tr>
      </table>
    </div>
  </div>

<!-- ********* Last Game ********** -->
  <div class="row">
    <div class="small-12 prof-name-wrap">
      <table class="profile-last-game-table table-style" >
        <tr class="profile-1st-table-row">
          <td class="profile-last-game-table-data">
          </td>
          <td class="profile-last-game-table-top-middle">
            <h3 class="date-after-game-profile-page">
              <h2 class="profile-last-game-title">Last Game</h2> 
            </h3>
          </td>
          <td class="profile-last-game-table-top-right">
          </td>
        </tr>
        <tr class="profile-2nd-table-row">
          <% if check_games(@player) %>
            <td class="last-game-data">
              <div class="no-games-played">  
                No Games Played
              <div class="last-game-border"></div>
            </td>
          <% else %>
          <td class="profile-last-game-bottom-left">
              <div>
              <h3 class="last-game-player-name">
                <% if check_games(@player) %>
                  <%= %>
                <% else %>
                  <%= link_to @games.get_all_recent_games_for(@player).last.player.last_name, @games.get_all_recent_games_for(@player).last.player %>
                <% end %>
              </h3>
            </div>
            <div>
              <%= link_to image_tag(@games.get_all_recent_games_for(@player).last.player.picture_url), @games.get_all_recent_games_for(@player).last.player, class: "last-game-pic-player" %>
            </div>
          </td>          
          <td class="last-game-data">            
             <div>
              <h3 class="last-game-vs">VS</h3>
            </div>
            <div>
              <h3 class="last-game-title">
                <%= @games.get_all_recent_games_for(@player).last.player_score %>-<%= @games.get_all_recent_games_for(@player).last.opponent_score %>
              </h3>
                <span class="big-date" >
                  <% if check_games(@player) %>
                    <%=  %>
                  <% else %>
                    <%= @games.get_all_recent_games_for(@player).last.created_at.strftime(" %a, %b %d, %Y") %>
                  <% end %>
              </span>
            </div >
          </td>
          <td class="profile-last-game-bottom-right">          
            <div>
              <h3 class="last-game-opponent-name">
                <% if check_games(@player) %>
                <%= %>
                <% else %>
                <%= link_to @games.get_all_recent_games_for(@player).last.opponent.last_name, @games.get_all_recent_games_for(@player).last.opponent %>
              <% end %>
              </h3>
          </div>
          <div>            
            <%= link_to image_tag(@games.get_all_recent_games_for(@player).last.opponent.picture_url), @games.get_all_recent_games_for(@player).last.opponent, class: "last-game-pic-opponent" %>
          </div>
        </td>
          <% end %>
        </tr> 
      </table>
   </div>


<!-- Recent Games Table -->

    <div class="small-12 columns prof-name-wrap">
      <table class="profile-recent-games-table table-style">
        <tr>
          <td colspan="4" class="previous-1st-table-data">
            <h2 class="profile-previous-games"><%= @player.first_name%>'s recent games</h2>
          </td>
        </tr>
        <tr>
          <td class="profile-recent-games-date-column">
            <h3 class="second-table-data-date">Date</h3>
          </td>
          <td class="profile-recent-games-vs-column">
          </td>
          <td class="profile-recent-games-opponent-column">  
           <h3 class="second-table-data-opponent">Opponent</h3>
          </td>
          <td class="profile-recent-games-result-column">                       
            <h3 class="second-table-data-result text-center">Result</h3>
          </td>
        </tr>
        <% if check_games(@player) %>
          <tr>
            <td colspan="4">
              No Games Played
            </td>
          </tr>
        <% else %>
          <% @games.get_all_recent_games_for(@player).reverse.each do |game| %>
            <tr class="recent-games-rollover">
              <td>
                <div class="many-dates"> <%= game.created_at.strftime(" %a, %b %d, %Y") %></div>
              </td>
              <td>
                <div class="many-vs">VS</div>
              </td>
              <td>
                 <div>
                  <%= link_to(image_tag(player_opponent(game, @player).picture_url , :class => "many-pics", :alt => "profile pic", :title => "profile pic"), player_opponent(game, @player)) %>
                </div>
              <div class="many-opponents">  
                  <%= link_to(player_opponent(game, @player).name, player_opponent(game, @player)) %>
                </div>
              </td>
              <td>
                <div class="many-w-l">
                  <%= game_winner_label(game, @player) %>
                </div>
                <div class="many-scores"><%= player_opponent_score(game, @player) %>-<%= player_score(game, @player) %></div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>



