<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">  

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <div class="small-5  prof-name-wrap columns">
      <h1 class="profile-name"><%= @player.name %></h1>
      <div class="the-border"></div>

      <!-- <h2 class="profile-record"><span><%= @player.wins %><span>-<span><%= @player.losses %></span>, <span><%=  ordinalize @rank %></span> in League</h2> -->
    </div>
  </div>


  <div class="row">
    <div class="small-12 prof-name-wrap columns">
    
      <table class="table-style">
      <tr>
        <td rowspan="4">
          <%= image_tag @player.picture_url, size: "300x300" %>  
        </td>

        <td colspan="2" class="profile-rank-small-header">
          Rank
        </td>
      </tr>

      <tr>
        <td colspan= "2" class="ordinalize-profile-rank">
          <%= ordinalize @rank %>
        </td>

      </tr>
     <tr>
      
        <td class="profile-rank-small-header">
          Record
        </td>

        <td class="profile-rank-small-header">
          Win %
        </td>
      
    </tr>

    <tr>
        <td class="profile-top-chart">
          <%= @player.wins %>-<%= @player.losses %>
        </td>
        <td class="profile-top-chart">
          <%= @player.win_percentage %>
        </td>
    </tr>
</table>
  </div>
</div>
<div class="row">
    <div class="small-12 prof-name-wrap columns">
      <table>
        <tr class="profile-1st-table-row">
          <td class="profile-1st-table-data">
            <h3 class="pic-title">Picture</h3>
          </td>
          <td class="profile-1st-table-data">
            <h3 class="pic-title">Rank</h3>
          </td>
           <td class="profile-1st-table-data">
            <h3 class="pic-title">PCT</h3>
          </td>


<!-- ********* Last Game ********** -->

          <td class="profile-last-game-table-data">
            <h3 class="profile-final">Last Game</h3>
            <h3 class="date-after-game-profile-page">
              <% if @player.games.empty? %>
                <%=  %>
              <% else %>
                <%= @games.get_all_recent_games_for(@player).first.created_at.strftime(" %a, %b %d %Y") %>
              <% end %>
            </h3>
            <h3 class="profile-t">Final</h3>
          </td>
<!-- ******** Last Game ********* -->
        </tr>
        <tr class="profile-2nd-table-row">
          <td class="profile-2nd-table-data">
            <%= image_tag @player.picture_url, size: "300x300", class: "profile-picture" %>
          </td>
          <td class="table-data">
            <div class="table-rank"><%= ordinalize @rank %></div>
          </td>
          <td class="table-data">
            <h1 class="table-percent"><%= @player.win_percentage %></h1>
          </td>

          <% if @player.games.empty? %>
            <td class="last-game-data">
              <div class="no-games-played">  
                No Games Played
              <div class="last-game-border"></div>
            </td>
          <% else %>
            <td class="last-game-data">
              <h3 class="last-game-title">
                <%= @games.get_all_recent_games_for(@player).first.player_score %>-<%= @games.get_all_recent_games_for(@player).first.opponent_score %>
              </h3>
                <%= link_to image_tag(@games.get_all_recent_games_for(@player).first.player.picture_url), @games.get_all_recent_games_for(@player).first.player, class: "last-game-player-pic" %>
              <h3 class="last-game-vs">VS</h3>
                <div class="last-game-opponent-pic">  
                  <%= link_to image_tag(@games.get_all_recent_games_for(@player).first.opponent.picture_url), @games.get_all_recent_games_for(@player).first.opponent %>
                </div>
              <h3 class="last-game-player-name">
                <%= link_to @games.get_all_recent_games_for(@player).first.player.last_name, @games.get_all_recent_games_for(@player).first.player %>
              </h3>
              <h3 class="last-game-opponent-name">
                <%= link_to @games.get_all_recent_games_for(@player).first.opponent.last_name, @games.get_all_recent_games_for(@player).first.opponent %>
              </h3>
              <div class="last-game-border"></div>
              <h3 class="last-game-comment">
                <%= @player.games.last.opponent.last_name %> hangs on in a thriller to end 4 game skid, <%= @player.games.last.player.last_name %> stunned
              </h3>
            </td>
          <% end %>
        </tr>  
      </table>
 </div>
    <div class="small-7 columns nav-rowing left">
      <table class="nav-rowing">
        <tr class="nav-rowing">
          <td class="previous-1st-table-data nav-rowing">
            <h2 class="profile-previous-games"><%= @player.first_name%>'s recent games</h2>
          </td>
        </tr>
        <tr>
          <td class="previous-2nd-table-data">
            <h3 class="second-table-data-date">Date</h3>
            <h3 class="second-table-data-opponent">Opponent</h3>
            <h3 class="second-table-data-result">Result</h3>
          </td>
        </tr>
        <tr>
          <td>         
          </td>
        </tr>
        <% if @player.games.empty? %>
          <tr>
            <td class="many-data">
              No Games Played
            </td>
          </tr>
        <% else %>
          <% @games.get_all_recent_games_for(@player).first(10).each do |game| %>
            <tr>
              <td class="many-data">
                <span class="many-dates"><%= game.created_at.strftime(" %a, %b %d %Y") %></span>
                <span class="many-vs">VS</span>
                  <%= link_to(image_tag(player_opponent(game, @player).picture_url , :class => "many-pics", :alt => "profile pic", :title => "profile pic"), game.opponent) %>
                <span class="many-opponents"> 
                  <%= link_to(player_opponent(game, @player).name, player_opponent(game, @player)) %>
                </span>
                <span class="many-w-l">
                  <%= game_winner_label(game, @player) %>
                </span>
                <span class="many-scores"><%= player_opponent_score(game, @player) %>-<%= player_score(game, @player) %></span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>



