

<div class="row">
	<div class="small-2 large-2 columns"></div>
	<div class="small-8 large-8 small-center columns">
		
			<h1><%= @player.name %><br></h1>
			
			
			<h2>Ranking: <%=  ordinalize @rank %></h2>
			<p>If the player has any title, put an icon with the title name.</p>
		  <%= image_tag @player.picture_url %>
		  <table class="listing" summary="Subject list">
		  				<tr class="header">
		  					<th>Wins</th>
		  					<th>Losses</th>
		  					<th>PCT</th>		  				
		  				</tr>	  			
		  				<tr>
		  					<td><%= @player.wins %></td>
		  					<td><%= @player.losses %></td>
		  					<td></td>
		  			</table>
		  <%= link_to "Edit Profile", {:action => "edit"} %>
		
		

		<h2>Win% - <%= @player.win_percentage %></h2>



		<h1>Profile pic - need to format to a certain size/shape. Gem? Carrierwave?</h1>
		<h1>Player Stats</h1>
		<p>Games played - highlight last game played</p>
		<p>Record, win %, last 10 games played</p>
		<p>average win margin</p>
		<h1>Biggest Rival</h1>
		<p>Smallest win margin of people who have played with a minimum number of games.</p>
		<h1>Closest Match</h1>
		<p>Person most closely matching your skill profile.</p>
		<h1>Player Headlines</h1>
		<p>Most recent tweets.</p>




		<h1>Personal Games Played List</h2>
		<p>Video highlights?</p>

  </div>

	<div class="small-2 large-2 columns"></div>
</div>

