
  <% if player_signed_in? %>
  <header class="signedin-nav">
    <div class="row">
        <div class="small-2 columns">
          <div class="signedin-logo">
            <%= link_to 'MakerPong', welcome_dashboard_path %>
          </div>
        </div>
      <div class= "small-8 columns top-nav">
        <div class="top-right-links">
          <%= link_to 'Dashboard', welcome_dashboard_path %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Rankings', players_path %>
        </div>
        <div id="new-game" class="top-right-links">
          <%= link_to 'New Game', new_game_path%>
        </div>
        <div class="top-right-links">
          <%= link_to 'Profile', player_url(current_player) %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Edit Profile', edit_player_registration_path %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Sign Out', destroy_player_session_path, method: :delete %>
        </div>
      </div>
    </div>
    </header>
  <% else %>
  <div class="nav-wrap">
    <div class="row">
        <div class="small-2 columns">
          <div class="logo">
            <%= link_to 'MakerPong', welcome_dashboard_path %>
          </div>
        </div>
      <div class= "small-8 columns top-nav">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="sign-in-fields">
          <%= f.email_field :email, :placeholder => "Email", :autofocus => true %>
        </div>
        <div class="sign-in-fields">
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>
        <div class="sign-in-link">
          <%= f.submit "SIGN IN" %>
        </div>
      </div>
    </div>
    <div class="row">
      <% if devise_mapping.rememberable? -%>
        <div class="small-6 medium-6 large-6 small-offset-6 remember-me">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <!-- </div> -->
      <% end -%>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <!-- <div class="small-3 medium-3 large-3 forgot-password-top-link"> -->
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "password-reset-link" %><br />
        </div>
      <% end -%>
    </div>
  <% end %>
  </div>
  <% end %>

