<div class="nav-wrap">
  
  <% if player_signed_in? %>
    <div class="row">
        <div class="small-2 columns">
          <h1 class="title">
            <%= link_to 'MakerPong', welcome_dashboard_path %>
          </h1>
        </div>
      <div class= "small-8 columns top-nav">
        <div class="top-right-links">
          <%= link_to 'Rankings', players_path %>
        </div>
        <div class="top-right-links">
          <%= link_to 'New Game', new_game_path %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Profile', player_url(current_player) %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Edit Settings', edit_player_registration_path %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Sign Out', destroy_player_session_path, method: :delete %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
        <div class="small-2 columns">
          <h1 class="title">
            <%= link_to 'MakerPong', root_url %>
          </h1>
        </div>
        <div class="small-3 small-offset-6 columns">
              <div class="top-right-links">
                <%= link_to "SIGN IN", new_player_session_path %>
              </div>
        </div>
    </div>
  <% end %>

</div>
