
<div class="nav-wrap">
  <% if player_signed_in? %>
    <div class="row">
        <div class="small-2 columns">
          <div class="logo">
            <%= link_to 'MakerPong', welcome_dashboard_path %>
          </div>
        </div>
      <div class= "small-8 columns top-nav">
        <div class="top-right-links">
          <%= link_to 'Rankings', players_path %>
        </div>
        <div id="new-game" class="top-right-links">
          <%= link_to 'New Game' %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Profile', player_url(current_player) %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Edit Settings', edit_player_registration_path %>
        </div>
        <div class="top-right-links">
          <%= link_to 'Sign Out', destroy_player_session_path, method: :delete %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
        <div class="small-2 columns">
          <div class="logo">
            <%= link_to 'MakerPong', root_url %>
          </div>
        </div>
        <div class="small-3 small-offset-6 columns">
          <div class="top-right-links sign-in-button">
            <%= link_to "SIGN IN" %>
          </div>
        </div>
    </div>
  <% end %>


