<!DOCTYPE html>
<html lang="en" class=<%= yield :login %>>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="//use.typekit.net/ekm0lqq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "MakerPong" %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  
  </head>

  <body class="<%= controller.controller_name %>"> 
 
  <div class="wrapper">
    <%= yield %>
       
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>

  </div>

<div class="footer">
  
  <div class="row">
    
    <div class="medium-4 medium-4 push-8 columns">
     
<ul class="footer-social">
  
  <li><a href="https://twitter.com/MakerSquare"><i class="fa fa-twitter-square fa-3x"></i></a></li>
  <li><a href="https://www.facebook.com/makersquare"><i class="fa fa-facebook-square fa-3x"></i></a></li>    
</ul>

</div>


     <div class="medium-8 medium-8 pull-4 columns">
           
        <ul class="footer-links">
          <li class="footer-logo">
            <%= link_to 'MakerPong', root_url %></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </li>
       </ul>

       <p class="copyright">© 2014 MakerPong. All rights reserved.</p>
    </div>          
  
  </div>
</div>

  </body>
</html>